.card {
  border-radius: 1rem;
}

.btn-primary-si {
  background-color: var(--primary-si);
  border-color: var(--primary-si);
}

.btn-secondary-si {
  background-color: var(--secondary-si);
  border-color: var(--secondary-si);
}

.btn-danger-si {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.form-label {
  color: #34495E;
}
