<app-header></app-header>

<div class="container my-5 animate__animated animate__fadeInUp">
  <div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bienvenido a VetFront</h1>
      <p class="col-md-8 fs-4">La plataforma líder para gestionar la salud y las citas de tus mascotas. Nuestro objetivo es hacer la vida de tus peludos amigos más fácil.</p>
      <button class="btn btn-primary btn-lg mt-3" type="button">
        Programar Cita Hoy
      </button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3 text-center">
        <h2>
          <span class="material-symbols-outlined text-success" style="font-size: 36px;">
            schedule
          </span>
        </h2>
        <p>Agenda fácilmente tus próximas visitas.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3 text-center">
        <h2>
          <span class="material-symbols-outlined text-info" style="font-size: 36px;">
            medical_services
          </span>
        </h2>
        <p>Conoce todos nuestros servicios veterinarios.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3 text-center">
        <h2>
          <span class="material-symbols-outlined text-warning" style="font-size: 36px;">
            pets
          </span>
        </h2>
        <p>Consulta el historial médico de cada mascota.</p>
      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>

